@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    html {
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }

    body {
        @apply w-screen h-screen bg-background text-foreground;
    }

    :root {
        --background: theme("colors.white");
        --foreground: theme("colors.black");
        --primary: theme("colors.blue.500");
        --secondary: #2c2c25;
        --danger: theme("colors.rose.500");
        --input: theme("colors.blue.500");
    }
}